{% extends 'base.html.twig' %}

{% block title %}GE-IM catalogue!
{% endblock %}

{% block header %}
	<div class="intro-text vertical-center text-left smoothie">
		<div class="intro-heading wow fadeIn heading-font" data-wow-delay="0.2s">Detail</div>
	</div>
{% endblock %}
{% block body %}

	<div class="col-6">

		
		</div>
		<div class="tab-content" id="tabs-collapse">
			<div role="tabpanel" class="tab-pane fade in active" id="contact1">
				<div id="contact-inner" class="nopadding-lr">
					<div class="contact-section-inner">
						<div class="container">
							<div class="row">
								<div class="col-sm-8 col-sm-offset-2">
                                    <div id="message"></div>
                                    {{form(form)}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div role="tabpanel" class="tab-pane fade" id="contact2">
				<div id="mapwrapper"></div>
			</div>

		</div>


	{% endblock %}
