{% extends 'base.html.twig' %}

{% block onglet %}
	<li class="dropdown">
		<a href="#">mes biens</a>
	</li>

	<li class="dropdown">
		<a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown">demande de gestion
			<span class="pe-7s-angle-down"></span>
		</a>
		<ul class="dropdown-menu" role="menu">
			<li>
				<a href="{{path("demande_shows")}}">mes demandes de gestion</a>
			</li>
			<li>
				<a href="{{path("demande_gestBien")}}">faire une demande</a>
			</li>
		</ul>
	</li>

	<li class="dropdown">
		<a href="#">mes reservations</a>
	</li>

{% endblock %}
