
{% extends 'base.html.twig' %}

{% block onglet %}
	<li class="dropdown">
		<a href="{{path("touteDemande")}}">gestion</a>
	</li>
	<li class="dropdown">
		<a href="#">reservation</a>
	</li>
{% endblock %}
