{% extends 'base.html.twig' %}

{% block title %}!
{% endblock %}

{% block body %}
	<div class="row container col-sm-8" style="margin:50px">
		<div class="col-sm-6 blog-item mb100 wow match-height">
			<div class="row">
                {% for user in user %}
                    <div class="col-xs-6">
                        <div class="hover-item mb30">
                            <img src="https://source.unsplash.com/360x350/?personne" class="img-responsive smoothie" alt="title">
                            <div class="overlay-item-caption smoothie"></div>
                            <div class="hover-item-caption smoothie">
                                <h3 class="vertical-center smoothie">
                                    <a href="#" class="smoothie btn btn-primary page-scroll" title="view article">View</a>
                                </h3>
                            </div>
                        </div>
                        <h2 class="post-title">{{user.email}}</h2><!--adresse mail-->
                        {% if user.profil == "gestionnaire" %}
                            <a class="btn btn-primary mt30" style="margin-right: 50px;" href="#">Bien</a>
                        {% else %}
                            <a class="btn btn-primary mt30" style="margin-right: 50px;" href="#">Reservation</a>
                        {% endif %}
                    </div>
                {% else %}
                    Pas de d'utilisateur.
                {% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
