{% extends 'base.html.twig' %}

{% block title %}!
{% endblock %}

{% block body %}
	<div class="row container col-sm-8" style="margin:50px">
		<div class="col-sm-6 blog-item mb100 wow match-height">
			<div class="row">
				
				<section id="welcome">
					{% for user in user %}
						<div class="row section-inner nopaddingbottom">
							<div class="container">
								<div class="row mb100">
									<div class="col-sm-4 wow fadeIn" data-wow-delay="0.2s">
										<div class="icon-box-1 match-height mb30">
											<i class="fa-4x pe-7s-camera"></i>
											<div class="content-area">
												<h3 class="title">{{user.email}}</h3>
												<div class="content">{{user.telephone}}</div>
											</div>

											{% if user.profil.libelle == "Proprietaire" %}
												<a class="btn btn-primary mt30" href="{{path("biens_shows_user",{id:user.id})}}">Bien</a>
											{% else %}
												<a class="btn btn-primary mt30" href="{{path("demande_shows_user",{id:user.id})}}">Reservation</a>
											{% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
					{% else %}
						Pas de d'utilisateur.
					{% endfor %}
        		</section>
			</div>
		</div>
	</div>
{% endblock %}
